// Bulma Variables
// Container
$widescreen: 960px;

$family-sans-serif: "Nunito", sans-serif;
$family-primary: "Nunito", sans-serif;
$family-heading: "Nunito", sans-serif;

$card-footer-border-top: 0;

$radius: 0;
