// Light theme styles
.t-light .lb-textarea {
    color: $black;
}

// Textarea styles
.lb-textarea {
  background-color: transparent;
  border: 0;
  resize: none;
  outline: none;
  box-shadow: none;
  overflow: hidden;
  padding: 0;

  &:focus {
    box-shadow: none;
  }
}

.lb-textarea:not([rows]) {
    min-height: 1rem;
}

// Select arrow style
.lb-select:not(.is-multiple):not(.is-loading)::after {
  top: 60%;
}

.lb-input, 
.lb-select select {
  border-width: 4px;
  border-radius: 4px;
  box-shadow: none;
  height: auto;
  font-size: 1rem;
  
  &:hover,
  &:focus,
  &:active {
    box-shadow: none;
  }
}

.lb-select {
  width: 100%;
  
  @media all and (min-width: $widescreen) {
      width: auto;
  }
}

// Tall and bigger font size text input
.lb-input-huge {
  height: 50px;
  font-size: 1.25rem;
}

// Input placeholder color per browser
.lb-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $grey-dark;
  opacity: 1; /* Firefox */
}

.lb-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $grey-dark;
}

.lb-input::-ms-input-placeholder { /* Microsoft Edge */
  color: $grey-dark;
}

.lb-input--alt {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  padding: 0 0.5rem;
}

.lb-errorText {
  color: $red;
  display: block;
  margin-top: 0.5rem;
}

.lb-radioButton {
  margin-bottom: 1rem;

  &:last-child() {
    margin-bottom: 0;
  }
}

.lb-radioButton .lb-radioButton__input {
  position: absolute;
  opacity: 0;

  + .lb-radioButton__label {
    display: flex;
    align-items: center;
    cursor: pointer;

    &::before {
      content: '';
      background: $white;
      border-radius: 100%;
      border: 2px solid #cfcfcf;
      display: inline-block;
      width: 1.25rem;
      height: 1.25rem;
      position: relative;
      margin-right: 0.5rem;
      vertical-align: top;
      cursor: pointer;
      text-align: center;
      transition: all 250ms ease;
    }
  }
}

.lb-radioButton .lb-radioButton__input:checked {
  + .lb-radioButton__label {
    &::before {
      background-color: $white;
    }
  }
}

.lb-inputTrigger {
  display: inline-block;
}

.lb-inputTrigger > * {
  pointer-events: none;
}

label {
  margin-bottom: 0.25rem;
  display: inline-block;
}
