// Secondary heading
.lb-heading--secondary {
  line-height: 1.5;
  margin: 0;
  font-weight: 400;
  font-size: 1.5rem;
}

// Tertiary(third) heading
.lb-heading--tertiary {
  line-height: 1.5;
  margin: 0;
  font-weight: 400;
  font-size: 1.25rem;
}
