$space-s: 0.5em !important;
$space-m: 1em !important;
$space-l: 2em !important;
$space-h: 3em !important;

.u-Ptn,
.u-Pvn,
.u-Pan {
  padding-top: 0 !important;
}

.u-Pts,
.u-Pvs,
.u-Pas {
  padding-top: $space-s;
}

.u-Ptm,
.u-Pvm,
.u-Pam {
  padding-top: $space-m;
}

.u-Ptl,
.u-Pvl,
.u-Pal {
  padding-top: $space-l;
}

.u-Pth,
.u-Pvh,
.u-Pah {
  padding-top: $space-h;
}

.u-Prn,
.u-Phn,
.u-Pan {
  padding-right: 0 !important;
}

.u-Prs,
.u-Phs,
.u-Pas {
  padding-right: $space-s;
}

.u-Prm,
.u-Phm,
.u-Pam {
  padding-right: $space-m;
}

.u-Prl,
.u-Phl,
.u-Pal {
  padding-right: $space-l;
}

.u-Prh,
.u-Phh,
.u-Pah {
  padding-right: $space-h;
}

.u-Pbn,
.u-Pvn,
.u-Pan {
  padding-bottom: 0 !important;
}

.u-Pbs,
.u-Pvs,
.u-Pas {
  padding-bottom: $space-s;
}

.u-Pbm,
.u-Pvm,
.u-Pam {
  padding-bottom: $space-m;
}

.u-Pbl,
.u-Pvl,
.u-Pal {
  padding-bottom: $space-l;
}

.u-Pbh,
.u-Pvh,
.u-Pah {
  padding-bottom: $space-h;
}

.u-Pln,
.u-Phn,
.u-Pan {
  padding-left: 0 !important;
}

.u-Pls,
.u-Phs,
.u-Pas {
  padding-left: $space-s;
}

.u-Plm,
.u-Phm,
.u-Pam {
  padding-left: $space-m;
}

.u-Pll,
.u-Phl,
.u-Pal {
  padding-left: $space-l;
}

.u-Plh,
.u-Phh,
.u-Pah {
  padding-left: $space-h;
}

.u-Mtn,
.u-Mvn,
.u-Man {
  margin-top: 0 !important;
}

.u-Mts,
.u-Mvs,
.u-Mas {
  margin-top: $space-s;
}

.u-Mtm,
.u-Mvm,
.u-Mam {
  margin-top: $space-m;
}

.u-Mtl,
.u-Mvl,
.u-Mal {
  margin-top: $space-l;
}

.u-Mth,
.u-Mvh,
.u-Mah {
  margin-top: $space-h;
}

.u-Mrn,
.u-Mhn,
.u-Man {
  margin-right: 0 !important;
}

.u-Mrs,
.u-Mhs,
.u-Mas {
  margin-right: $space-s;
}

.u-Mrm,
.u-Mhm,
.u-Mam {
  margin-right: $space-m;
}

.u-Mrl,
.u-Mhl,
.u-Mal {
  margin-right: $space-l;
}

.u-Mrh,
.u-Mhh,
.u-Mah {
  margin-right: $space-h;
}

.u-Mbn,
.u-Mvn,
.u-Man {
  margin-bottom: 0 !important;
}

.u-Mbs,
.u-Mvs,
.u-Mas {
  margin-bottom: $space-s;
}

.u-Mbm,
.u-Mvm,
.u-Mam {
  margin-bottom: $space-m;
}

.u-Mbl,
.u-Mvl,
.u-Mal {
  margin-bottom: $space-l;
}

.u-Mbh,
.u-Mvh,
.u-Mah {
  margin-bottom: $space-h;
}

.u-Mln,
.u-Mhn,
.u-Man {
  margin-left:  !important;
}

.u-Mls,
.u-Mhs,
.u-Mas {
  margin-left: $space-s;
}

.u-Mlm,
.u-Mhm,
.u-Mam {
  margin-left: $space-m;
}

.u-Mll,
.u-Mhl,
.u-Mal {
  margin-left: $space-l;
}

.u-Mlh,
.u-Mhh,
.u-Mah {
  margin-left: $space-h;
}
