.lb-card {
  box-shadow: none;
  border: 2px solid $dark-gray;
  background-color: $grey-darker;
  color: $white;
  max-width: 100%;
  position: relative;
}

.lb-card:hover {
    background-color: darken(#282f2f, 5%);

    .lb-subtitle {
        color: $blue-dull;
    }
}

.lb-card--clickable {
  &:hover {
    .content {
      color: $blue-dull;
    }
  }
}

.lb-card-manage__arrows {
  border-right: 2px solid #343c3d;
}

.lb-card__footer--extra {
  background-color: darken(#282f2f, 5%);
  border-top: 2px solid #343c3d;
}

.lb-card-footer-item {
  color: $grey-lighter;
}
