@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import "../../node_modules/bulmaswatch/darkly/variables";

@import "dark/colors";

$link-hover: $blue-bright;
$dropdown-item-hover-color: lighten($primary, 25%);

@import "../settings/bulma";

@import "../../node_modules/bulma/bulma";
@import "../../node_modules/bulmaswatch/darkly/overrides";

@import "dark/buttons";
@import "dark/card";
@import "dark/dragAndDrop";
@import "dark/dropDown";
@import "dark/form";
@import "dark/modal";
@import "dark/search";
@import "dark/tab";
@import "dark/type";
