@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import "../../node_modules/bulmaswatch/darkly/variables";

@import "../settings/settings";
$dropdown-item-hover-color: lighten($primary, 25%);

@import "../../node_modules/bulma/bulma";
@import "../../node_modules/bulmaswatch/darkly/overrides";

@import "../base/type";
@import "../components/card";

a:hover {
  color: lighten($primary, 25%);
}

.c-Card__content {
  cursor: pointer;
}

.c-Card:hover {
  background-color: darken(#282f2f, 5%);

  .b-Subtitle {
    color: lighten($primary, 25%);
  }
}

.card-footer-item:hover {
  color: lighten($primary, 25%);
}
