@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import "../settings/settings";
@import "../../node_modules/bulmaswatch/journal/variables";

$family-sans-serif: "Nunito", sans-serif;
$family-primary: "Nunito", sans-serif;
$family-heading: "Nunito", sans-serif;
$link-hover: $primary;

@import "../../node_modules/bulma/bulma";
@import "../../node_modules/bulmaswatch/journal/overrides";

@import "../components/card";

.pile { @extend .has-background-light; }
form .field:not(:last-child) { margin-bottom: 2em; }

.mainhero { @extend .is-black; }
