@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import "../../node_modules/bulmaswatch/minty/variables";

@import "../settings/settings";

@import "../../node_modules/bulma/bulma";


@import "../../node_modules/bulmaswatch/minty/overrides";

@import "../components/card";

a:hover {
    color: $primary;
}

.c-Card__content {
    cursor: pointer;
}
  
.c-Card:hover {
    background-color: darken($white, 5%);

    .b-Subtitle {
        color: $primary;
    }
}
.card-footer-item:hover {
    color: $primary;
}
