$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid";

@import "objects/column";
@import "objects/stack";
@import "utilities/utilities";

.clearpls {
    clear: both;
}

.right-panel {
    float: right;
    margin: 0 5px;
}

.online-short a {
    border-width: 0 !important;
}

span.onlinedot {
    color: limegreen;
}


section.board {
    .cardjunction {
        line-height: 0;
    }

    .cardjunction.active {
        line-height: 1.5em;
        border: 2px dashed red;
    }
}

.dnd-dragging .cardjunction {
    height: 10px;
    margin-bottom: 12px;
    border: 2px dashed gray;
}

section.events {
    .user-list {
        width: 25%;
        float: right;
    }

    .event-list {
        width: 75%;
        float: left;
    }
}

section.column-manager {
    width: 28em;

    .col-edit-item {
        line-height: 1.5em;
        padding: 0.2em;
        margin: 0.2em;
        border: 1px solid darkgray;

        .controls {
            float: right;
            padding: 3px;

            span {
                width: 2em;
            }
        }
    }
}