@font-face {
  font-family: "Arsenal";
  src: url(/fonts/Arsenal-Regular.ttf) format("truetype");
}

@import "../node_modules/bulmaswatch/cyborg/variables";
$family-primary: "Arsenal";
$family-heading: "Arsenal";
@import "bulma";
@import "../node_modules/bulmaswatch/cyborg/overrides";

main { padding-top: 2em; }
.cardspacer { margin-bottom: 1em; }

a:hover .card { background-color: $light; }
.pile { @extend .has-background-light; }
form .field:not(:last-child) { margin-bottom: 2em; }

.mainhero { @extend .is-black; }
