// Height auto on buttons
.lb-button {
  height: auto;
  border-radius: 4px;
}

// Plain button
.lb-button--plain {
  border: 0;
  background-color: transparent;

  &:active,
  &:focus {
    color: $white;
    box-shadow: none;
  }
}

.lb-button--plain:focus:not(:active) {
  color: $white;
  box-shadow: none;
}
