.lb-card {
  transition: all .2s ease-in-out;
  border-radius: 0.4rem;
  box-shadow: none;
  max-width: 100%;
  position: relative;
}

.lb-card--grab {
  cursor: grab;
}

.lb-card__content {
  word-wrap: break-word;
}

.lb-card__footer {
  display: flex;
  transition: all .2s ease-in-out;
  align-self: flex-end;
  justify-content: space-between;
}

.lb-card__footer--extra {
  display: flex;
  border-top: 0;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.lb-card__footer-item--disabled {
  color: $grey;
  cursor: not-allowed;
  
  &:hover,
  &:focus {
    color: $grey;
  }
}

.lb-card__label {
  border-radius: 50%;
  box-sizing: border-box;
  height: 25px;
  margin-left: 0.75rem;
  width: 25px;
}

// Cards on within the manage columns section
.lb-card-manage {
  display: flex;
  align-items: center;
}

.lb-card-manage__arrows {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  max-width: 6rem;
  min-width: 6rem;
}

.lb-card-manage__arrows--first {
  justify-content: flex-end;;
}

.lb-card-manage__arrow {
  margin-right: 1rem;
  display: flex;
  justify-content: space-between;
  
  &:last-child {
    margin-right: 0;
  }
}

.lb-card-manage__title {
  width: 100%;
  padding: 0.5rem 1rem;
}

// Locked card icon
.lb-card-locked.fa {
  padding: 1rem;
  display: block;
  text-align: center;
}

.lb-card--piled {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
