.lb-columns {
  @media all and (min-width: $widescreen) {
    overflow-x: auto;
    min-height: calc(100vh - 220px);
  }
}

.lb-column {
  @media all and (min-width: $widescreen) {
    max-width: 350px;
    min-width: 350px;
  }
}

main {
  min-height: calc(100vh - 185px);
}
