
section.board {
    .cardjunction {
        line-height: 0.5em;
        margin-top: 1rem;
    }
    
    .cardjunction.active {
        line-height: 10rem;
    }
}

.dnd-dragging .cardjunction {
    margin-bottom: 12px;
      border: 2px dashed $white-ter;
}

.t-dark {
  .cardjunction.active {
      border: 2px dashed $turquoise;
  }
}
