

.cardjunction {
    line-height: 0rem;
}

.cardjunction.active {
    line-height: 10rem;
}


.dnd-dragging .cardjunction {
  border: 0.5px solid transparent;
}

.t-dark {
  .cardjunction.active {
      border: 2px dashed $turquoise;
      margin-bottom: 1rem;
      cursor: grabbing;
  }
}
