.lb-dropdown-button {
  border: 0;
  font-size: 1rem;
  background-color: transparent;
  height: 100%;
  padding: 0.25rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $white;
  outline: 0
}

.lb-dropdown-button .icon {
  margin-left: 1rem;
}

.lb-dropdown-menu {
  width: 100%;
  padding: 0;
}

.lb-dropdown-content {
  box-shadow: none;
}

.lb-dropdown {
  position: relative;
}

.lb-dropdown-trigger {
  outline: 0;
}
