.lb-icon-avatar {
  display: inline-block;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  margin-right: 1rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.lb-icon-logo {
  width: 8em;
  height: 2em;
}

.lb-icon--fa {
  font-size: 1rem;
}
