.lb-modal-card-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.lb-modal-card-textarea {
  background: transparent;
  border: 0;
  color: white;
  font-size: 1rem;
  resize: none;
  outline: 0;
  height: 1.5rem;
  width: 100%;
}

.lb-modal-card-close {
  background: none;
  border: 0;
  color: $white;
  font-size: 1rem;
}

.lb-modal-radio-button {
  position: absolute;
  opacity: 0;
}

.lb-modal-radio-label {
  height: 2rem;
  width: 8rem;
  border-radius: 2px;
  display: block;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  &:last-child() {
    margin-bottom: 0;
  }
}

.lb-modal-radio-label--green {
  background-color: #2ecc71;
  
  &:hover {
    border-left: 8px solid darken(#2ecc71, 10%);
  }
}

.lb-modal-radio-label--blue {
  background-color: #3498db;
  
  &:hover {
    border-left: 8px solid darken(#3498db, 10%);
  }
}

.lb-modal-radio-label--red {
  background-color: #e74c3c;
  
  &:hover {
    border-left: 8px solid darken(#e74c3c, 10%);
  }
}

.lb-modal-radio-label--orange {
  background-color: #e67e22;
  
  &:hover {
    border-left: 8px solid darken(#e67e22, 10%);
  }
}

.lb-modal-radio-label__icon {
  display: none;
  margin-right: 0.5rem;
}

input[type="radio"]:checked+label { 
  .lb-modal-radio-label__icon {
    display: block;
  }
}
