.lb-tabs {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.lb-tab {
  margin-right: 1rem;
  margin-bottom: 0.5rem;

  &:last-child() {
    margin-right: 0;
  }
  
  @media all and (min-width: $widescreen) {
    margin-bottom: 0;
  }
}
