.lb-card {
  border: 2px solid $grey-lighter;
  background-color: $white-bis;
  color: $primary;
}

.lb-card:hover {
    background-color: $white-ter;
    color: $black;

    .lb-subtitle {
        color: $black;
    }
}

.lb-card--clickable {
  &:hover {
    .content {
      color: $black;
    }
  }
}

.lb-card-manage__arrows {
  border-right: 2px solid $grey-lighter;
}

.lb-card__footer--extra {
  border-top: 2px solid $grey-lighter;
}

.lb-card-footer-item {
  color: $grey;
}
