<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Lucidboard</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/#{@conn.assigns[:theme_css]}") %>">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
    <link href="<%= Routes.static_path(@conn, "/fonts/Arsenal-Regular.ttf") %>">
    <%=
      board_id = Map.get(@conn.path_params, "id")
      if board_id, do: raw ~s/    <meta name="board_id" content="#{board_id}">\n/
    %>
    <meta name="csrf" content="<%= Plug.CSRFProtection.get_csrf_token() %>">
  </head>
  <body>
    <%= render("header/header.html", assigns) %>

    <%= Map.get(assigns, :inner_layout)
          || render(@view_module, @view_template, assigns) %>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
