<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Lucidboard</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/#{@conn.assigns[:theme_css]}") %>">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
    <link href="<%= Routes.static_path(@conn, "/fonts/Arsenal-Regular.ttf") %>">
    <meta name="board_id" content="2">
    <meta name="csrf" content="<%= Plug.CSRFProtection.get_csrf_token() %>">
  </head>
  <body>
    <%= render("header/header.html", assigns) %>

    <%= Map.get(assigns, :inner_layout)
          || render(@view_module, @view_template, assigns) %>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script>
      const bodyClassWhenDragging = "dnd-dragging";

      const drag = function drag(ev) {
        console.log('drag');
        ev.dataTransfer.setData("text", ev.target.id);
        ev.dataTransfer.dropEffect = "copy";
        document.body.classList.add(bodyClassWhenDragging);
      };

      const allowDrop = function allowDrop(ev) {
        console.log('allowDrop');
        ev.preventDefault();
      };

      const drop = function drop(ev) {
        console.log('drop');
        ev.preventDefault();
        document.body.classList.remove(bodyClassWhenDragging);
        const board_id = document.querySelector('meta[name=board_id]').getAttribute('content');
        const card_id = ev.dataTransfer.getData('text').replace('card-', '');

        const [x, column_id, pos] = ev.target.id.split('_');

        var request = new XMLHttpRequest();
        request.open('POST', `/boards/${board_id}/dnd`, true);
        request.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        request.setRequestHeader('X-CSRF-Token', document.querySelector('meta[name=csrf]').content);
        request.send(JSON.stringify({
          card_id: card_id,
          column_id: column_id,
          pos: pos
        }));
      };

      const dnd = {
        drag,
        allowDrop,
        drop,
      };
    </script>
  </body>
</html>
