<%= render_layout "app.html", assigns do %>
  <main role="main" class="u-Pvl u-Phm">
    <div class="centered-column">
      <p class="alert alert-info u-Mbm" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    </div>
    <%= render @view_module, @view_template, assigns %>
  </main>
<% end %>
