.o-Stack {
  display: flex;
}

.o-Stack--column {
  flex-direction: column;
}

.o-Stack--split\@m {
  flex-direction: column;
  
  @media all and (min-width: 960px) {
    display: flex;
    flex-direction: row;
  }
}

.o-Stack--split\@xxs {
  flex-direction: column;
  
  @media all and (min-width: 20rem) {
    display: flex;
    flex-direction: row;
  }
}

.o-Stack--spaceBetween {
    justify-content: space-between;
}

.o-Stack--end-row {
  justify-content: flex-end;
}

.o-Stack--center-row {
  align-items: center;
}

.o-Stack--center-row\@m {
  @media all and (min-width: 960px) {
    align-items: center;
  }
}

.o-Stack--medium .o-Stack__item {
    margin-bottom: 1rem;
    
    &:last-child() {
      margin-bottom: 0;
    }
}

.o-Stack--split\@m.o-Stack--medium .o-Stack__item {
    margin-right: 1rem;
    
    &:last-child() {
      margin-right: 0;
    }
}


.o-Stack--split\@m .o-Stack__item {
    @media all and (min-width: 960px) {
        margin-bottom: 0;
    }
}

.o-Stack--split\@m>.o-Stack__item--30\@m {
  @media all and (min-width: 960px) {
    flex: 0 0 30%;
    max-width: 30%;
  }
}

.o-Stack--split\@m>.o-Stack__item--70\@m {
  @media all and (min-width: 960px) {
    flex: 0 0 70%;
    max-width: 70%;
  }
}
