<section class="events clearpls">
<div class="user-list">
  <h3>Users Online</h3>
  <ul>
    <%= for user <- @online_users do %>
      <li>
        <span class="onlinedot">&bull;</span> &nbsp; <%= online_indicator(user) %>
      </li>
    <% end %>
  </ul>
</div>
<div class="event-list">
  <ul>
    <%= for event <- Enum.reverse(@events) do %>
      <li><%= display_event(event) %></li>
    <% end %>
  </ul>
</div>
</section>