<h2>Manage Columns</h2>

<ul>
<%= for %{id: id, title: title} <- @board.columns do %>
  <li><%= title %></li>
<% end %>
</ul>

<%= form_for @column_changeset, "#", [phx_submit: :column_add], fn f -> %>
  <%= text_input f, :title, placeholder: "New column title..." %>
  <%= error_tag f, :title %>
  <%= submit "Save", phx_disable_with: "Saving..." %>
<% end %>
